.brand-name {
  font-size: 1.75rem;
  font-weight: 900;
  color: var(--primary-color);
  text-shadow: 1px 1px 2px var(--accent-color);
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid var(--accent-color);
  gap: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--accent-color);
  padding: 0.25rem 0.5rem;
}

.search > input[type="text"] {
  flex: 1;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  padding: 0.25rem;
  background-color: var(--accent-color);
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  height: 100%;
  align-items: center;
}
