@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --accent-color: #f8fafc;
  --primary-color: #ef4444;
  --secondary-color: #34d399;
  --sucess-color: #bbf7d0;
  --warning-color: #fef08a;
  --info-color: #a5f3fc;
  --error-color: #fecaca;
  --dark-color: #262626;
}

body {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4rem;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.08rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.0625rem;
}

.strong {
  font-size: 1rem;
  font-weight: 700;
}

.small {
  font-size: 0.625rem;
  font-weight: 500;
}

.pre-title {
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.01875rem;
  text-transform: uppercase;
}

.button {
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.01875rem;
  text-transform: uppercase;
}
