@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Custom color properties */
:root {
  --accent-color: #f8fafc;
  --primary-color: #ef4444;
  --complimentory-color: ;
  --sucess-color: #bbf7d0;
  --warning-color: #fef08a;
  --info-color: #a5f3fc;
  --error-color: #fecaca;
}
